@model IEnumerable<Airoport.Models.Ticket>

@{

}

<h3>@ViewBag.Client</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClientId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartCityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalCityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTravels)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateBuy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Registered)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClientId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartCityId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArrivalCityId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTravels)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateBuy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Registered)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
