
@{
}

<div>
    @using (Ajax.BeginForm("SearchClientResult", new AjaxOptions
    {
        UpdateTargetId = "results",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        LoadingElementId = "loading",
        LoadingElementDuration = 10
    }))
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Поиск пассажира</h2>
        <hr />
        <h3 style="color: red">@ViewBag.Err</h3>
        @Html.Hidden("config", @ViewBag.config as string)

        <div class="form-group">
            @Html.Label("Имя", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("Name", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Фамилия", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("Surname", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>


        <div class="col-md-offset-2 col-md-10">
            <div class="form-group">
                <input type="submit" value="Поиск" class="btn btn-default">
            </div>
        </div>

        <hr />

        <div id="results" class="form-horizontal"></div>
        <p></p>

        

    </div>
    }


</div>

