@using Airoport.Models
@{
    ViewBag.Title = "About";
}

<div>
    <h3>@ViewBag.MessageCity</h3>

    <table>
        @foreach (var Cities in ViewBag.Cities)
        {
            <tr>
                <td>@Cities.Id</td>
                <td>@Cities.Name</td>
            </tr>
        }
    </table>
</div>  
<div>
    <h3>@ViewBag.MassageClient</h3>
    <h2>Аж @Client.countClients клиентов</h2>
    <table>
        @foreach (var Clients in ViewBag.Clients)
        {
            <tr>
                <td>@Clients.Name</td>
                <td>@Clients.Surname</td>
            </tr>
        }
    </table>

</div>
